[Unit]
Description=MpdRestApiClient
After=mpd.service

[Service]
RestartSec=1
WorkingDirectory=/home/srv-mpd/MpdRestApiClient
#ExecStart=/usr/bin/npm start
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /home/srv-mpd/MpdRestApiClient/dist/server/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=MpdRestApiClient
User=srv-mpd
Group=srv-mpd

# Set to log detailed debug messages
# Environment=DEBUG=MpdRestApiClient:*

# Details of MPD server (Default: localhost:6600)
Environment=MPD_HOST=localhost
Environment=MPD_PORT=6600

# Port to serve HTTP (the user needs special permission to serve on 80; default: 4200)
Environment=PORT=8000

# JSON file with radio stations. If empty [app root]/data/stations.json will be used
Environment=STATION_FILE=

[Install]
WantedBy=multi-user.target
